/* Form access (Login - Register)
------------------------------------------------------------------------------*/
.form-access {
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
    background-color: #FFF;
}

.form-access header {
    text-align: center;
    padding: 20px 30px;
}

.form-access header .icon-user {
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    border-radius: 50%;
    font-size: 3em;
    background-color: rgba(var(--primary));
    color: #FFF;
}

.form-access header .title-page {
    margin: 0;
    color: rgba(var(--dark));
}

.form-access main {
    padding: 0 30px;
}

.form-access footer {
    padding: 20px 30px;
}

.form-access footer a.btn.btn-link {
    font-size: 12px;
    color: rgba(var(--muted));
}

/* Gradients
------------------------------------------------------------------------------*/
.gradient-primary-gray {
    background: #FFF;
    background: -moz-linear-gradient(top, #FFF 0%, #FFF 45%, rgba(var(--secondary)) 45%, rgba(var(--secondary)) 100%);
    background: -webkit-linear-gradient(top, #FFF 0%, #FFF 45%, rgba(var(--secondary)) 45%, rgba(var(--secondary)) 100%);
    background: linear-gradient(to top, #FFF 0%, #FFF 45%, rgba(var(--secondary)) 45%, rgba(var(--secondary)) 100%);
}